/*
mixins for:
    border-radius
    opacity
    background-size
    transform
    transition
    background-image
    box-shadow
*/

@mixin bradius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

@mixin opacity($property) {
    $opacity-ie: $property * 100;
    -moz-opacity: $property;
    opacity: $property;
    filter: alpha(opacity=$opacity-ie);
}

@mixin bgsize($property) {
    -webkit-background-size: $property;
    -moz-background-size: $property;
    -o-background-size: $property;
    background-size: $property;
}

@mixin transform($properties...) {
    -webkit-transform: $properties;
    -moz-transform: $properties;
    -ms-transform: $properties;
    -o-transform: $properties;
    transform: $properties;
}

@mixin transition($properties...) {
    -webkit-transition: $properties;
    -moz-transition: $properties;
    -o-transition: $properties;
    transition: $properties;
}

@mixin background-image($name, $width, $height) {
    display: inline-block;
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: image-url('icons/svg/#{$name}.svg');
    @include bgsize($width $height);

    .no-svg & {
        background-image: image-url('icons/png/#{$name}.png');
    }
}

@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    box-shadow: $shadows;
}



/*
mixins for css animations:
    show
    hide
*/

@mixin show() {
    visibility: visible;
    @include opacity(1);
    @include transition(opacity $transition-normal, visibility $transition-normal);
}

@mixin hide() {
    visibility: hidden;
    @include opacity(0);
    @include transition(opacity $transition-normal, visibility $transition-normal);
}
