$white: #fff;
$white-light: #f6f6f6;

$gray-clear: #ededed;
$gray-light: #e3e3e3;
$gray: #cacaca;
$gray-deep: #696969;
$gray-dark: #888888;

$black: #000;

$blue: #33A1CA;

$orange: #FF9E4D;
$orange-deep: #ff7400;



$transition-normal: .3s linear;
$transition-fast: .1s linear;



/* fonts */
$bitter-regular: 'Bitter-Regular', Arial, Tahoma, sans-serif;
$nova-regular: 'ProximaNova-Regular', Arial, Tahoma, sans-serif;
$nova-semibold: 'ProximaNova-Semibold', Arial, Tahoma, sans-serif;
$nova-bold: 'ProximaNova-Bold', Arial, Tahoma, sans-serif;



//You want X lines of text. Anything after that gracefully cut off.
//display: -webkit-box;
//-webkit-line-clamp: 3;
//-webkit-box-orient: vertical;
