.popup.loading
    %p.popup__title.popupTitle
        = "Загрузка"
    .popup__popupInfo.popupInfo
        .popupInfo__iconWrapper.popupIconWrapper
            %span.popupIconWrapper__icon.popupIconWrapper__icon--loading
        .popupInfo__title
            = "Пожалуйста, подождите"
        .popupInfo__text
            = "Cвязываемся с сервером, не покидайте и не закрывайте эту страницу!"
