.popup.paymentOk
    %p.popup__title.popupTitle
        = "Готово!"
        %span.popupTitle__close.popup-close
    .popup__popupInfo.popupInfo
        .popupInfo__iconWrapper.popupIconWrapper
            %span.popupIconWrapper__icon.popupIconWrapper__icon--paymentOk
        .popupInfo__title
            = "Покупка на сумму 19 200"
            &#8381;
            = "успешно совершена!"
    .popup__footer.popupFooter
        %span.linkButton.linkButton--blue.popup-close
            = "Вернуться в магазин"
