/********** popups common **********/
.popup {
    display: none;
    width: 550px;
    background: $white;
    @include bradius(3px);
    overflow: hidden;

    &.loading {
        padding-bottom: 10px;
    }
}

.popupTitle {
    position: relative;
    padding: 19px 25px 19px;
    font-family: $bitter-regular;
    font-size: 20px;
    border-bottom: 1px solid #EAEAEA;
}



.popupTitle__close {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 0;
    top: 14px;
    right: 12px;
    background: #fff;
    cursor: pointer;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -7px;
        margin-left: -7px;
        @include background-image(cross_small_black, 14px, 14px);
    }
}



// steps
.popupSteps {
    margin: 0 25px;
    padding: 25px 0 5px;
    text-align: justify;
    font-size: 0;
    line-height: 0;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.profile__titleStep {
    padding: 0 15px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.profile__lineStep {
    margin: 14px 0 12px;
    width: 100%;
    height: 1px;
    background: #DEDEDE;
}

.popupStep {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: #D8D8D8;
    text-align: center;

    &:last-child {
        &:before {
            display: none;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 13px;
        left: 50%;
        display: inline-block;
        width: 150px;
        height: 1px;
        border-top: 1px dashed #E9E9E9;
    }
}

.popupStep--made {
    &:before {
        border-top: 1px solid $orange;
    }
}

.popupStep--current {
    color: $black;
}



.popupStepNumber {
    margin: 0 0 8px;
}

.popupStepNumber__info {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    font-size: 13px;
    line-height: 26px;
    color: #D8D8D8;
    text-align: center;
    border: 1px solid #D8D8D8;
    background: $white;
    @include bradius(50%);

    .popupStep--made & {
        font-size: 0;
        @include background-image(ok_white, 13px, 10px);
        width: 26px;
        height: 26px;
        background-color: $orange;
        border-color: $orange;
    }

    .popupStep--current & {
        color: $black;
        border-color: $orange;
        @include box-shadow(0px 0px 5px 0px #FF9E4D);
    }
}

.popupStep__info {

}



@media (max-width: 767px) {
    .popupSteps {
        margin-left: -12.5%;
        margin-right: -12.5%;
        padding: 10px 7px 5px;
    }

    .profile__titleStep {
        padding-left: 12%;
        padding-right: 12%;
    }

    .popupStep {
        width: 25%;
        font-size: 0;
        line-height: 0;

        &:before {
            width: 100%;
        }
    }

    .popupStep__info {
        font-size: 0;
        line-height: 0;
    }
}

@media (max-width: 640px) {
    .popupSteps {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 480px) {
    .popupSteps {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 360px) {
    .popupSteps {
        padding-left: 25px;
        padding-right: 25px;
    }
}



// attention block
.popupAttention {
    position: relative;
    margin: 10px 25px 18px;
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background: #DEDEDE;
    }
}

.popupAttention__info {
    display: inline-block;
    position: relative;
    padding: 0 7px;
    background: $white;
    font: 14px/18px $nova-semibold;
}



@media (max-width: 767px) {
    .popupAttention {
        margin: 10px 15px 18px;

        &:before {
            display: none;
        }
    }

    .popupAttention__info {
        padding: 0;
    }
}



// secure block
.popupSecure {
    margin: 18px 0 23px;
    padding: 14px 15px;
    background: $white;
    @include bradius(3px);
    @include box-shadow(0px 0px 15px 0px rgba(0,0,0,0.10));
}

.popupSecure__info {
    position: relative;
    padding-left: 125px;
    font-size: 12px;
    line-height: 17px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -15px;
        display: inline-block;
        width: 89px;
        height: 30px;
        background: image-url('icons/secured.png') no-repeat center center;
        @include bgsize(cover);
    }
}



// footer popup
.popupFooter {
    position: relative;
    padding: 25px 25px;

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #DEDEDE;
    }
}

.popupFooter--special {
    padding-top: 4px;
    padding-bottom: 24px;

    &:before {
        background: transparent;
    }
}

.popupFooter__info {
    padding-left: 195px;
    font-size: 14px;
    line-height: 18px;
    color: $gray-deep;
}

.popupFooter__logo {
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    @include background-image(logo_header, 101px, 18px);
}



/********** popups with form **********/
.popup__form {
    padding: 0 25px;
}



@media (max-width: 767px) {
    .popup__form {
        padding: 0 15px;
    }
}



/********** info popups **********/
.popupInfo {
    padding: 0 20px 21px;
    text-align: center;
}

.popupIconWrapper {
    padding: 38px 20px 13px;
}

.popupIconWrapper__icon {

}

.popupIconWrapper__icon--loading {
    @include background-image(loading, 80px, 80px);
}

.popupIconWrapper__icon--serverError {
    @include background-image(server_error, 80px, 80px);
}

.popupIconWrapper__icon--paymentOk {
    @include background-image(payment_success, 80px, 80px);
}

.popupIconWrapper__icon--paymentRefuse {
    @include background-image(payment_refuse, 80px, 80px);
}

.popupIconWrapper__icon--paymentLimit {
    @include background-image(payment_renewal, 80px, 80px);
}



.popupInfo__title {
    max-width: 360px;
    margin: 0 auto 14px;
    font-size: 20px;
    line-height: 24px;
}

.popupInfo__text {
    margin: 0 auto 2px;
    max-width: 380px;
    color: $gray-deep;

    b {
        font-family: $nova-bold;
        color: $black;
    }
}



@media (max-width: 767px) {
    .popupIconWrapper {
        padding: 29px 20px 15px;
    }

    .popupInfo__title {
        margin-bottom: 9px;
        font-size: 18px;
        line-height: 22px;
    }

    .popupInfo__text {
        font-size: 16px;
        line-height: 20px;

        br {
            display: none;
        }
    }
}



/********** agreement popup **********/
.popupAgreement {
    padding: 15px 0 10px;
}



// download link button
.popupAgreement__download {
    display: block;
    margin: 0 0 8px;
    height: 50px;
    background: $white;
    font: 16px/50px $nova-semibold;
    color: $black;
    text-align: center;
    cursor: pointer;
    border: 1px solid #D1D1D1;
    @include bradius(3px);

    &:hover {
        background: $white-light;
    }

    &:before {
        content: '';
        position: relative;
        top: 7px;
        margin-right: 8px;
        @include background-image(link_pdf, 24px, 25px);
    }
}



@media (max-width: 767px) {
    .popup {
        width: auto;
        min-width: 290px;
        left: 15px!important;
        right: 15px!important;
    }

    .popupTitle {
        padding: 13px 15px;
    }

    .popupTitle__close {
        top: 8px;
    }

    .popup__form {
        padding: 0 15px;
    }



    .popupFooter {
        padding: 15px;
        text-align: center;

        &:before {
            left: 0;
            right: 0;
        }
    }

    .popupFooter--special {
        padding: 15px 15px 25px;
    }

    .popupFooter--special {
        &:before {
            left: 15px;
            right: 15px;
        }
    }

    .popupFooter__logo {
        float: none;
        margin: 0 0 4px;
    }

    .popupInfo {
        padding: 0 15px 21px;
    }

    .popupFooter__info {
        padding: 0;
    }



    /********** agreement popup **********/
    .popupAgreement {
        margin-top: 9px;
        padding: 0 0 8px;
    }

    .popupAgreement__download {
        margin-bottom: 0;
    }



    .popupConditionsListItem {
        padding: 24px 0 21px 25px;

        &:before {
            top: 22px;
            font-size: 16px;
        }
    }

    .popupConditionsListItem__title {
        float: none;
        width: 100%;
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 21px;
    }

    .popupConditionsListItem__info {
        float: none;
        width: 100%;
        padding: 0;
        font-size: 16px;
        line-height: 21px;
    }
}
